<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>directions_car</mat-icon> Fleet </span>
  
    <div class="example-spacer"></div>
  
    <a mat-button [routerLink]="['/drivers']" routerLinkActive="router-link-active">Drivers</a>
    <a mat-button [routerLink]="['/vehicles']" routerLinkActive="router-link-active">Vehicles</a>
    <a mat-raised-button routerLink="/login" color="warn" *ngIf="!isAuthenticated">Sign Up</a>
    <a mat-raised-button (click)="onLogout()" color="warn" *ngIf="isAuthenticated">Logout</a>
  </mat-toolbar>
